html {
  font-family: 'Open Sans', sans-serif;
}

/*moves everything down so it doesn't overlap navbar*/
body {
  padding-top: 50px;
}

a {
  color: white;
}

.btn {
  color: white;
  background-color: #ff1a4e;
}

.nav > li > a:hover, .navbar-brand:hover {
  background-color: inherit;
  color: white;
}
.navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle {
  background-color: transparent;
}

.navbar {
  background-color: #ff1a4e;
  opacity: 0.75;
  position: fixed;
  width: 100%;
  font-size: 18px;
}

.navbar-brand {
  font-size: 18px;
}

#overflow {
  overflow: hidden;
}

#map {
  width:100vw;
  height:100vh;
}

#sidemap {
  width: 50vw;
  height: 90vh;
  float: right;
  background-color: black;
}

.postings {
  float: left;
  width: 50vw;
  overflow-y: auto;
  height: 100vh;
  padding-left: 12px;
  height: 90vh;
}

.filter {
  width: 100vw;
  height: 40px;
  background-color: grey;
}
