<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} {{title}} {% endblock title %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/custom.css">
    <link rel="icon" href="../static/favicon.ico" type="image" sizes="16x16">
    {% block head %} {% endblock %}
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
	      <!--a href="/" class="navbar-left"><img src="/static/logo-wide.png"></a-->
        <a class="navbar-brand" href="/">Lost In New York</a>
        <ul class="nav navbar-nav navbar-right">
        {% if loggedIn %}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        {% else %}
          <li><a href="#" id="popupbox">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {% endif %}
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Listings <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/lost_postings">Lost</a></li>
              <li><a class="dropdown-item" href="/found_postings">Found</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <center><br>
          <h2> Login </h2><br>
          <form action = '/login' method = 'POST'>
            <input class="input" type='text' name='username' placeholder="Username" required><br><br>
            <input class="input" type='password' name='password' placeholder="Password" required><br><br>
            <input class="btn" type='submit' value='Submit' name='login' style="width:250px;">
          </form><br>
          <a href="/signup" style="color:blue">New user? Sign up here.</a>
        </center>
      </div>
    </div>

    {% block content %}
    {% endblock %}
    <script>
      // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("popupbox");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // When the user clicks the button, open the modal
      btn.onclick = function() {
          modal.style.display = "block";
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
            console.log("hi");
              modal.style.display = "none";
          }
      }
    </script>
  </body>
</html>
