<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} {{title}} {% endblock title %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/modern-business.css" rel="stylesheet">
    {% block head %} {% endblock %}
  </head>

  <body>
    <!--Navigation Bar-->
      {% block navbar %}
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Lost In New York</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            {% if loggedIn %}
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/listings">Listings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>
</html>
