{% extends "base.html" %}

{% block content %}
<!-- Format: [id, item, description, category, account_id, location, lat, long, date]  -->
<div class="overflow">
  <center><br>
  <h1> Create Found Posting </h1><br>
  <form action="/create" method="POST">
    Item: <input class="input" type="text" name="item" value="{{item[1]}}" required><br><br>
    Category:
      <select name="category" class="filterdrop" style="width:220px;" required>
        <option value="bags" id="bags">Bags</option>
        <option value="wallets" id="wallets">Wallets</option>
        <option value="documents" id="documents">Documents</option>
        <option value="accessories" id="accessories">Accessories</option>
        <option value="electronics" id="electronics">Electronics</option>
        <option value="other" id="other">Other</option>
      </select><br><br>
    Location Found: <input type="text" name="location" class="input" style="width:190px;" value="{{item[5]}}" required><br><br>
    Date Found: <input type="date" name="date" class="input" style="width:215px;" value="{{item[8]}}" required><br><br>
    Description: <textarea name="description" rows:"10" cols="28" id="description" value="{{item[2]}}">{{item[2]}}</textarea><br><br>
    <input type="submit" class="btn" value="Save" name="save">
  </form>
</center>
</div>

<script>
function myFunction() {
  document.getElementById("{{item[3]}}").selected = "true";
}
window.onload = myFunction;
</script>
{% endblock %}
