{% extends "base.html" %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}"></script>
<script>
var infowindow = new google.maps.InfoWindow();
var listing = "{{unique}}".slice(1, -1);
var listings_list = listing.split("), ");
var lists = [];
for (var post = 0; post < listings_list.length; post++){
  if (post == listings_list.length-1){
    nums = [parseFloat(listings_list[post].split(", ")[0].slice(1)), parseFloat(listings_list[post].split(", ")[1].slice(0, -1))];
  }else{
    nums = [parseFloat(listings_list[post].split(", ")[0].slice(1)), parseFloat(listings_list[post].split(", ")[1])];
  }
  lists.push(nums);
  console.log(lists);
}

function initialize() {
  var map = new google.maps.Map(document.getElementById('sidemap'), {
    zoom: 13,
    center: new google.maps.LatLng(40.76, -73.99), //center for times square
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var marker = new google.maps.Marker({
       position: new google.maps.LatLng(40.76, -73.99),
       map: map
  });
  for(var loc = 0; loc < lists.length; loc++){
    console.log(lists[loc]);
    var mark = new google.maps.Marker({
      position: new google.maps.LatLng(lists[loc][0], lists[loc][1]),
      map: map
    });
  };
};

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
<div class="filter">
  <form action="/found_search" method="POST">
    <div id="search-wrapper">
      <input type="text" placeholder="  Search" name="search" id="search-input">
      <button type="button" id="search-btn" name="submit-search" value="searched">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
    <div id="white-block"></div>
    <select class="filterdrop" name="category">
      <option value="none">Category</option>
      <option value="bags">Bags</option>
      <option value="wallets">Wallets</option>
      <option value="documents">Documents</option>
      <option value="accessories">Accessories</option>
      <option value="electronics">Electronics</option>
      <option value="other">Other</option>
    </select>
    <input id="filterbtn" type="submit" name="filter" value="Filter">
  </form>
</div>
<div id="overflow">
    <div class="postings">
      <h1 style="padding-left:17px;"> Found Items</h1>
      {% for item in listings %}
        <div id="post-container">
          <h3>{{item['item_name']}}</h3><br>
          Category: {{item['item_cat']}}<br>
          Date: {{item['item_date']}}<br>
          Location: {{item['item_location']}}<br><br>
          <form action="/single_posting" method="POST">
            <input type="submit" class="btn" style="float:right;" name="single_post" value="See More">
            <input type="hidden" name="item_id" value="{{item['item_id']}}">
            <input type="hidden" name="lost_found" value="found">
          </form>
        </div>
      {% endfor %}
    </div>
  <div id="sidemap"></div>
</div>
{% endblock %}
