{% extends "base.html" %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}"></script>
<script>
  var infowindow = new google.maps.InfoWindow();
  var listings = [[[40.76, -73.99], "wallet", 3]]//{{posts}}; //list in format [[[lat, long], item, post id]]
  //finds number of Markers
  //var all_locations = [];
  //for each (listing in listings){
  //  all_locations.push(list[0])
  //};
  //var markers = all_locations.filter(onlyUnique); //filter to find all unique all_locations

  //helper function: adds postings to each marker on click
  // function add_postings(marker, i, items_list) {
  //   var contentString = "";
  //   //adds first 5 posts
  //   for(i = 0; i < 5; i++){
  //     try{
  //       contentString += "<form action='/posting'><input type='hidden' name='item_id' value='"+items_list[2]+"'><input type='submit' value='"+items_list[1] + "'></form>";
  //     };
  //     catch(e){
  //       break;
  //     };
  //   };
  //   //adds See More button
  //   contentString += "<br>" + "<form action='/listings'><input type='submit' value='See More'><input type='hidden' name='location' value='"+items_list[0]+"'></form>";
  //   infowindow.setContent(contentString);
  //   infowindow.open(map, marker);
  // };

  function initialize() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(40.76, -73.99), //center for times square
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
         position: new google.maps.LatLng(40.76, -73.99),
         label: "15",
         map: map
    });

    //add markers to map
    // for(loc = 0; loc < markers.length; loc++){
    //   //creates new array of items at location
    //   var items = [];
    //   for each (listing in listings){
    //     if (markers[loc] == listing[0]){
    //       items.push(listing)
    //     };
    //   };
    //
    //   var marker = new google.maps.Marker({
    //     position: new google.maps.LatLng(markers[loc][0], markers[loc][1]),
    //     label: items.length.toString(),
    //     map: map
    //   });
    //   google.maps.event.addListener(marker, 'click', add_postings(marker, i, items));
    // };
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
<center><div id="map" style="width:100vw;height:75vh;background:black"></div></center>
<div class="container">
  <h1 class="my-4">Welcome to Lost in New York</h1>
  <p>This is your one stop website to finding lost items and reporting found items.
    From cats to wallets to keys, use this website to find what you're looking for.
    Don't get lost in the big ol' apple...</p>
  <center>
    <!--MUST CHECK FOR CORRECT ROUTE-->
    <a class="btn btn-primary" href="/lost">LOST</a> |
    <a class="btn btn-primary" href="/found">FOUND</a>
  </center>
</div>
{% endblock %}
