{% extends "base.html" %}

{% block content %}
<img src="#"> <!--need to add image"-->
<div class="container">
  <h1 class="my-4">Welcome to Lost in New York</h1>
  <p>This is your one stop website to finding lost items and reporting found items.
    From cats to wallets to keys, use this website to find what you're looking for.
    Don't get lost in the big ol' apple...</p>
  <center>
    <!--MUST CHECK FOR CORRECT ROUTE-->
    <a class="btn btn-primary" href="/home">LOST</a> |
    <a class="btn btn-primary" href="/post">FOUND</a>
  </center>
</div>
{% endblock %}
