{% extends "base.html" %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}"></script>
<script>
var infowindow = new google.maps.InfoWindow();
var listings = [[[40.76, -73.99], "wallet", 3]]

function initialize() {
  var map = new google.maps.Map(document.getElementById('sidemap'), {
    zoom: 13,
    center: new google.maps.LatLng(40.76, -73.99), //center for times square
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var marker = new google.maps.Marker({
       position: new google.maps.LatLng(40.76, -73.99),
       label: "15",
       map: map
  });
};
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
<div class="postings">
<h1>Lost Items</h1>
{% for item in lost_items %}
  <b>{{item[0]}}</b> <!--item-->
  Category: {{item[1]}}<br>
  Date: {{item[2]}}<br>
  Location:
    <!-- location could be optional-->
    {% if item[3] == "" %} N/A<br>
    {% else %} {{item[3]}}<br>
    {% endif %}
  Description:
    <!-- desciption is optional-->
    {% if item[4] == "" %} N/A<br>
    {% else %} {{item[4]}}<br>
    {% endif %}
  <hr>
{% endfor %}
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
<h2>Wallet</h2><br>
<p>Blue wallet last seen at around 5 pm on the N train platform. fishadlkfjhsdjfklsdjfkldsjflkdjflksjdfkl;sfsjdfklsjflksjfkl;sjfkljsdfl;sjlfkjslk;fjdl;kfjslkfjldkfjlk;jdlk;fjslkjfklsjfdl;jklsfj</p>
</div>
<div id="sidemap"></div>
{% endblock %}
