{% extends "base.html" %}

<!-- puts a signup for as content -->
{% block content %}
  <center><br>
    <h2> Sign Up </h2><br>
    <form action = '/signup' method = 'POST'>
      <input class="input" type ='text' name = 'username' placeholder="Username" required><br><br>
      <input class="input" type ='text' name = 'email' placeholder="Email"required><br><br>
      <input class="input" type='password' name ='password0' placeholder="Password"required><br><br>
      <input class="input" type ='password' name ='password1' placeholder="Confirm Password" required><br><br>
      <input class="btn" type='submit' value='Confirm' name='signup' style="width:250px;">
    </form>
  </center>
{% endblock %}
