{% extends "base.html" %}

{% block content %}
<div class="single_post"}
  <!--Format: [id, item, description, category, account_id, location, lat, long, date] -->
  <br><h1>{{item[1]}}</h1><br>
  <i>Category:</i> {{item[3]}}<br>
  <i>Date:</i> {{item[8]}}<br>
  <i>Location:</i> {{item[5]}}<br>
  <i>Description:</i>
    {% if item[2] == '' %} N/A
    {% else %} {{item[2]}} {% endif %}
    <br><br>

  <i>Think this item is yours? Contact the person that found it!</i><br>
  <a href='send?item_id={{item[0]}}'>
    <button type="button" class="btn">Contact</button>
  </a>
</div>


{% endblock %}
